
<!-- 
        <div class="container">
          <div class=" row">
                    </div>
           <br>
          <div class=" row">
            <div class="col col-lg-6">
              
            </div> 
          </div>
        </div>
        
       -->





<!--
<div class="container">
  <div class="jumbotron">
      <div class="container">
          <button type="button" class="button">Employee Info</button>
          <button type="button" class="button"> KRA  </button>
          <button type="button" class="button"> KAA  </button>
          
       </div> 
       
  </div>  
        
  </div>
-->

<!--
  <div class="container">
  <form class="form-horizontal"></form>
  <div class="form-group">
    <label class="control-label col-sm-1" for="LastName">LastName:<sup>*</sup></label>
    <div class="col-sm-5">
    <input type="text" class="form-control" [(ngModel)]="Details.LastName" placeholder="Enter LastName">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-1" for="FirstName">FirstName:</label>
    <div class="col-sm-5">
    <input type="text" class="form-control" [(ngModel)]="Details.FirstName" placeholder="Enter firstName">
    </div>
  </div>
  <div class="form-group">
  <label class="control-label col-sm-1" for="FatherName">Father'sName:</label>
  <div class="col-sm-5">
  <input type="text" class="form-control" [(ngModel)]="Details.FatherName" placeholder="Enter Father'sName">
  </div>
</div>
<div class="form-group">
  <label class="control-label col-sm-1" for="MotherName">Mother'sName: </label>
  <div class="col-sm-5">
  <input type="text" class="form-control" [(ngModel)]="Details.MotherName" placeholder="Enter MotherName">
  </div>
</div>
 
<label class="control-label col-sm-1" >Gender:</label>
<div class="col-sm-5">
<label class="radio-inline"><input type="radio" name="gender" value="male" [(ngModel)]="Details.gender">Male</label>
  <label class="radio-inline"><input type="radio" name="gender" value="female" [(ngModel)]="Details.gender">Female</label>
  </div>
  <div class="form-group">
      <label class="control-label col-sm-1" for="DOB">DOB:</label>
      <div class="col-sm-5">
      <input type="Date" class="form-control" [(ngModel)]="Details.DOB">
      </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-1" for="AdhaarNo">AdhaarNo: </label>
        <div class="col-sm-5">
        <input type="text" class="form-control" [(ngModel)]="Details.AdhaarNo" placeholder="Enter AdhaarNo">
        </div>
      </div>
      
  
<div class="form-group">
  <label class="control-label col-sm-1" for="Address">Address:</label>
  <div class="col-sm-5"> 
    <textarea class="form-control" rows="3  " id="Address" [(ngModel)]="Details.Address" placeholder="Enter Address"></textarea>
  <input type="text" class="form-control"  [(ngModel)]="FormTo.Address" placeholder="Enter Address">
  </div>
</div>
<div class="form-group">
    <label class="control-label col-sm-1" for="City">City:</label>
    <div class="col-sm-5">
    <input type="text" class="form-control" [(ngModel)]="Details.City" placeholder="Enter City">
    </div>
  </div>
  <div class="form-group">
      <label class="control-label col-sm-1" for="State">State:</label>
      <div class="col-sm-5"> 
      <select class="form-control" id="State" [(ngModel)]="Details.State">
          <option></option>
          <option>Andhra Pradesh</option>
        <option>Assam</option>
        <option>Bihar</option>
        <option>Gujarat</option>
        <option>Harayana</option>
        <option>Telagana</option>
        <option>Rajasthan</option>
        <option>Maharashtra</option>
      </select>
   </div>
   </div>

<div class="form-group">
    <label class="control-label col-sm-1" for="MobileNo">MobileNo:</label>
    <div class="col-sm-5">
    <input type="text" class="form-control" [(ngModel)]="Details.MobileNo" placeholder="Enter MobileNo">
    </div>
  </div>
  <div class="form-group">
  <label class="control-label col-sm-1" for="Email">Email:</label>
  <div class="col-sm-5">
  <input type="text" class="form-control" [(ngModel)]="Details.Email" placeholder="Enter Email">
  </div>
</div>
<div class="form-group">
    <label class="control-label col-sm-1" for="Qualification">Qualification:</label>
    <div class="col-sm-5"> 
    <select class="form-control" id="Qualification"  [(ngModel)]="Details.Qualification" (change)="modalpop(Details.Qualification)">
        <option></option>
        <option  value='1'>SSC</option>
      <option value='2'>HSC</option>
      <option value='3'>UG</option>
      <option value='4'>PG</option>
    </select>
 </div>
 </div>
 <div class="form-group">
    <label class="control-label col-sm-1" for="Strength">Strength:</label>
    <div class="col-sm-5">
 <div class="checkbox">
    <label><input type="checkbox"  value="HardWorking" (click)="change($event,x)" >HardWorking</label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox"  value="LeadershipQuality" (click)="change($event,x)" >LeadershipQuality</label>
  </div>
  <div class="checkbox">
      <label><input type="checkbox"  value="Dedicated" (click)="change($event,x)" >Dedicated</label>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" value="GoodCommunication" (click)="change($event,x)" >GoodCommunication</label>
      </div>
  
      
      </div>
      
      
   
<button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">View</button>

{{ Details | json }}


  
<table class="table table-bordered">
    <thead>
      <tr>
        <th>Course</th>
        <th>Board</th>
        <th>YearOfPassing</th>
        <th>Result</th>
        <th>Percentage</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let d of Details" >
        <td>{{d.Course}}</td>
        <td>{{d.Board}}</td>
        <td>{{d.YearOfPassing}}</td>
        <td>{{d.Result}}</td>
        <td>{{d.Percentage}}</td>
        </tr>
      </tbody>
      </table>




<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <label>LastName :</label> {{Details.LastName}}<br>
        <label>FirstName :</label> {{Details.FirstName}}<br>
        <label>FatherName :</label> {{Details.FatherName}}<br>
        <label>MotherName :</label> {{Details.MotherName}}<br>
        <label>gender :</label> {{Details.gender}}<br>
        <label>DOB :</label> {{Details.DOB}}<br>
        <label>AdhaarNo :</label> {{Details.AdhaarNo}}<br>
        <label>Address :</label> {{Details.Address}}<br>
        <label>City :</label> {{Details.City}}<br>
        <label>State :</label> {{Details.State}}<br>
        <label>MobileNo :</label> {{Details.MobileNo}}<br>
        <label>Email :</label> {{Details.Email}}<br>
        <label>Qualification :</label> {{Details.Qualification}}<br>
        <label>Strength :</label><span *ngFor ="let x of temp">{{x}}</span><br>
      </div>
      <div class="modal-footer">
         
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Submit</button>
      </div>
    </div>

  </div>
</div>

<div id="M1" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
          <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Course</th>
                  <th>Board</th>
                  <th>YearOfPassing</th>
                  <th>Result</th>
                  <th>Percentage</th>
                </tr>
              </thead>
              <tbody>
           <tr>
             <td>SSC</td>>
            <td><input type="text"></td>
            <td><input type= "date"  > </td>
            <td> <input type= "text"  > </td>
            <td> <input type= "number"  > </td>
            </tr>
            <tr>
                <td>HSC</td>
               <td><input type="text"></td>
               <td><input type="date"></td>
               <td><input type="text"></td>
               <td><input type="number"></td>
               </tr>
                 <tr>
                    <td>UG<select>
                          <option></option>
                          <option>BCA</option>
                        <option>BAA</option>
                        <option>BCS</option>
                        <option>B.Tech</option>
                         </select></td>
                   <td><input type="text"></td>
                   <td><input type="date"></td>
                   <td><input type="text"></td>
                   <td><input type="number"></td>
                   </tr>
                   <tr>
                      <td>PG<select>
                            <option></option>
                            <option>MCA</option>
                          <option>MCS</option>
                          <option>M.Tech</option>
                          <option>MBA</option>
                           </select></td>
                     <td><input type="text"></td>
                     <td><input type="date"></td>
                     <td><input type="text"></td>
                     <td><input type="number"></td>
                     </tr>
                     </tbody>
                    </table>

        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-default" data-dismiss="modal"(click)="submit1()">Submit</button>
         </div>
          


        </div>
</div>
  
-->
