

<!--<div class="container">
  <form class="form-horizontal"></form>
  <div class="form-group">
    <label class="control-label col-sm-2" for="FirstNumber">FirstNumber:</label>
    <div class="col-sm-4">
    <input type="number" class="form-control" [(ngModel)]="FirstNumber" placeholder="Enter FirstNumber">
    </div>
  </div>
  <label class="control-label col-sm-12"></label>
  <div class="form-group">
    <label class="control-label col-sm-2" [(ngModel)]="SecondNumber"  for="SecondNumber">SecondNumber:</label>
    <div class="col-sm-4">
    <input type="number" class="form-control"  placeholder="Enter SecondNumber">
    </div>
    </div>
    <label class="control-label col-sm-12"></label>
    <div class="form-group">
    <label class="control-label col-sm-2"[(ngModel)]="Value"   for="Value">Value:</label>
    <div class="col-sm-4">
    <input type="number" class="form-control"  placeholder="Enter Value">{{Value}}
    </div>
  </div>
    <label class="control-label col-sm-12"></label>
    <label class="control-label col-sm-12"></label>
    <label class="control-label col-sm-2">Operations:</label>
    <div class="col-sm-5">
    <button type="button" class="btn btn-primary" (click)="add()">Addition</button>
    <button type="button" class="btn btn-primary" (click)="s2()">Substration</button>
    <button type="button" class="btn btn-primary" (click)="s3()">Multiplication</button>
    <button type="button" class="btn btn-primary" (click)="s4()">Division</button>
  </div>
     
  </div>
-->
<!--<div class="container">
    <label class="control-label col-sm-2" for="FirstNumber" > FirstNumber:</label>
    <div class="col-sm-4">
  <input type="number" class="form-control" [(ngModel)]="FirstNumber"  placeholder="Enter FirstNumber">
    </div>
    
    
     
    <label class="control-label col-sm-12"></label>
  
  <label class="control-label col-sm-2"   for="SecondNumber">SecondNumber:</label>
    <div class="col-sm-4">
  <input type="number" class="form-control"   [(ngModel)]="SecondNumber" placeholder="Enter SecondNumber">
  </div>
  <label class="control-label col-sm-12"></label>
    
  <label class="control-label col-sm-2"  for="Value">Value:</label>
  <div class="col-sm-4">
  <input type="number" class="form-control"  [(ngModel)]="result" placeholder="Enter Value">
  </div>
  <label class="control-label col-sm-12"></label>
  <label class="control-label col-sm-12"></label>
  <label class="control-label col-sm-2">Operations:</label>
  <div class="col-sm-9">
  <button type="button" class="btn btn-primary" (click)="add()">Addition</button>
  <button type="button" class="btn btn-primary" (click)="sub()">Substration</button>
  <button type="button" class="btn btn-primary" (click)="mul()">Multiplication</button>
  <button type="button" class="btn btn-primary" (click)="div()">Division</button>
  <button type="button" class="btn btn-primary" (click)="clr()">Clear</button>
 
  <table class="table">
      <thead>
        <tr>
          <th>Subjects</th>
          <th>Marks</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>English</td>
          <td> <input type="number" [(ngModel)]="M1"  placeholder="Enter Marks"> </td>
        </tr>
        <tr>
            <td>CLang</td>
            <td> <input type="number" [(ngModel)]="M2"  placeholder="Enter Marks"> </td>
          </tr>
          <tr>
              <td>C++</td>
              <td> <input type="number" [(ngModel)]="M3"  placeholder="Enter Marks"> </td>
            </tr>
            <tr>
                <td>Java</td>
                <td> <input type="number" [(ngModel)]="M4"  placeholder="Enter Marks"> </td>
              </tr>
              <tr>
                  <td>Python</td>
                  <td> <input type="number" [(ngModel)]="M5"  placeholder="Enter Marks"> </td>
                </tr>
                <tr>
                <td><button type="button"   class="btn btn-primary" (click)="tot()">Total</button></td>
                  <td> <input type="number" [(ngModel)]="t"  placeholder="total"> </td>
                  <button type="button"   class="btn btn-primary" (click)="per()">percentage</button>
                  <td> <input type="number" [(ngModel)]="p"  placeholder="%">% </td>
                </tr>
                
       </tbody>
    </table>
</div>
</div>
-->
<div class="container">
  <div class="form-group">
      <label>Filter </label>
      <input  class="form-control" type="text"  id="inputName" [(ngModel)]="inputName" (keyup)="FilterByName()"placeholder="search">
      
</div>
<div class='row'>
<table class="table">
    <thead>
      <tr>
        <th>FirmName</th>
        <th>RegisteredMobileNos</th>   
          <th>VillageName</th>
        <th>DateOfEstablishment</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of items" >
        <td>{{d.FirmName}}</td>
        <td>{{d.RegisteredMobileNos}}</td> 
        <td>{{d.VillageName}}</td>
        <td>{{d.DateOfEstablishment}}</td>
      </tr>
   </tbody>
   </table>
   <div class="btn-toolbar" role="toolbar" style="margin: 0;">
          <div class="btn-group">
               <label style="margin-top:10px">Page {{currentIndex}}/{{pageNumber}}</label>
            </div>
            <div class="btn-group pull-right"> 
               <ul class="pagination" >
                  <li [ngClass]="{'disabled': (currentIndex == 1 || pageNumber == 0)}" ><a  (click)="prevPage()"  >Prev</a></li>
                     <li *ngFor="let page of pagesIndex"  [ngClass]="{'active': (currentIndex == page)}">
                        <a (click)="setPage(page)"  >{{page}}</a>
                     </li>
                  <li [ngClass]="{'disabled': (currentIndex == pageNumber || pageNumber == 0)}" ><a   (click)="nextPage()" >Next</a></li>
               </ul>
            </div>
         </div>
        </div>
    </div>
