<nav class="navbar navbar-fixed-top navbar-inverse topbar">
    <div class="container-fluid">
        <a class="navbar-brand">SimplyWorks<sup>TM</sup></a>
        <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="appraisee" (click)='s1()'>Registeration Form</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="appraiser">Assign Task</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="hrmanagement">HR-Management</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="projects">Projects</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
      <ul class="nav navbar-nav navbar-right">
         <li><a href="#"><span class="glyphicon"></span>Change Password</a></li>
      </ul>
    </div>
  </nav>
  





<router-outlet></router-outlet>