
      <!--
          <ul class="nav navbar-nav navbar-right">
              <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
          <ul class="nav navbar-nav navbar-right">
             <li><a href="#"><span class="glyphicon"></span>Change Password</a></li>
          </ul>
        </div>
      </nav>-->
      
      <!--
        <ul class="nav navbar">
            <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
            <li><a data-toggle="tab" href="#appraisee">Appraisee</a></li>
            <li><a data-toggle="tab" href="#appraiser">Appraiser</a></li>
            <li><a data-toggle="tab" href="#hrmanagement">HR-Management</a></li>
          </ul>
          
          <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
              <h3>HOME</h3>
          
            </div>
            <div id="appraisee" class="tab-pane fade">
                <div class="container">
                <div class="jumbotron">
                    <div class="container">
                    <button type="button" class="button">PROFILE</button>
                    <button type="button" class="button">KRA</button>
                    <button type="button" class="button">KAA</button>
                      </div>
                  </div>
                </div>
            </div>
            <div id="appraiser" class="tab-pane fade">
                <div class="container">
                    <div class="jumbotron">
                        <div class="container">
                        <button type="button" class="button">KRA</button>
                        <button type="button" class="button">KAA</button>
                        <button type="button" class="button">EP</button>
                          </div>
                      </div>
                    </div>
            </div>
            <div id="hrmanagement" class="tab-pane fade">
                <h3>HR-Management</h3>
                <p>Some content</p>
              </div>
          </div>
      -->



<!-- KRA table
  <div>
    <h3>KRA based Evaluation</h3>
  <table>
    <tr>
      <th>Sr No./th>
      <th>MPP/Bugzilla</th>
      <th>KRA</th>
      <th>Validation Cretria</th>
      <th>Max Score</th>
      <th>Self Appraisal</th>
      <th>Apprasial</th>
    </tr>
    <tr>
      <td>1</td>
      <td> </td>
      <td>Training and Study</td>
      <td>Training in C#<br>
          Training in SQL<br>
          Training in ERP FrameWork<br>
          Training in ERP Spec<br>
      </td>    
      <td> 10<br>
        10<br>
        10<br>
        10<br>
        10<br></td>
        <td><input type="number" ><br>
          <input type="number" ><br>
          <input type="number" > <br>
          <input type="number" ><br>
        </td>    
   
        <td><input type="number" ><br>
          <input type="number" ><br>
          <input type="number" > <br>
          <input type="number" ><br>
        </td>
    </tr>
    <tr>
      <td>2</td>
      <td></td>
      <td>ERP-HR Module Modification</td>
      <td>Level and Extra Work adjustment As per new HR policy<br>
          Hardship Allowance Report<br>
          Customer Support<br>
      </td>    
      <td> </td>
      <td></td>
      <td></td>
    </tr>
  
    <tr>
      <td>3</td>
      <td> </td>
      <td>ERP Account Modifications</td>
      <td>Code Modification for po authorization changes<br>
          Development of Receipt with advance Deduction<br>
          Tax Compliance<br>
      </td>    
      <td> </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Total</td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td><input type="number" > </td>
      <td><input type="number" > </td>
    </tr>
  </table>
  
  </div>



 KRA table style
    <style>
  div {
     
    margin: 50px 50px 75px 50px;
 }
</style>
<style>
  table,td,th {
    border: 1px solid #ddd;
    text-align: left;
  }
  table{
    border-collapse:collapse;
    width:100%;
      }
  th, td{
    padding: 15px;
  }
</style>  -->
































