<div class="container">
  <div class=" row">
  </div>
  <div class=" row">
    <div class="col col-lg-2">
    </div>
  </div>
</div>
<div class="col-md-12">
  <div class="panel-group">
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">TODAY'S TASK</div>
        <div class="panel-body">Today's Planned : 5
          <br>
          <label class='col-sm-12'></label>
          Total Planned : 20
          <br>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">ENQUIRY</div>
        <div class="panel-body">Total Enquiries : 20
          <br>
          <label class='col-sm-12'></label>
          Today's Registered : 5 Today's Converted : 3
          <br>
        </div>
      </div>
    </div>
    <div class="container">
        <div class=" row">
        </div>
        <div class=" row">
          <div class="col col-lg-1">
          </div>
        </div>
      </div>
    <div class="col-md-12">
      <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#demo">Top 10 Employees...</button>
      <div id="demo" class="collapse">
        <div class='col col-sm-6'>
          <table class="table table-striped">

            <thead>
              <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Nisha</td>
                <td>Bukke</td>
                <td>bukkenisha@gmail.com</td>
              </tr>
              <tr>
                <td>Archana</td>
                <td>Botla</td>
                <td>botla.archana@gmail.com</td>
              </tr>
              <tr>
                <td>Shruti</td>
                <td>Bidwai</td>
                <td>bidwaishruti@gmail.com</td>
              </tr>
              <tr>
                <td>Bhagyashree</td>
                <td>Dalvi</td>
                <td>dalvibhagya@gmail.com</td>
              </tr>
              <tr>
                <td>Shivani</td>
                <td>Katruwar</td>
                <td>katruwarshivani@gmail.com</td>
              </tr>
              <tr>
                <td>Vaishnavi</td>
                <td>Wali</td>
                <td>vaish.w@gmail.com</td>
              </tr>
              <tr>
                <td>Anushka</td>
                <td>Irphale</td>
                <td>irphale.anushka@gmail.com</td>
              </tr>
              <tr>
                <td>Shivay</td>
                <td>Oberoi</td>
                <td>oberoishivay@gmail.com</td>
              </tr>
              <tr>
                <td>Aditya</td>
                <td>Hooda</td>
                <td>hoodaditya@gmail.com</td>
              </tr>
              <tr>
                <td>Anika</td>
                <td>Oberoi</td>
                <td>anikaoberoi@gmail.com</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="container">
        <div class=" row">
        </div>
        <div class=" row">
          <div class="col col-lg-1">
          </div>
        </div>
      </div>
    <div class="col-md-12">
        <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#demo1">Project Status</button>
        <div id="demo1" class="collapse">
            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" style="width:45%">
                  CRM (45%)
                </div>
                <div class="progress-bar progress-bar-warning" role="progressbar" style="width:30%">
                  PMS (30%)
                </div>
                <div class="progress-bar progress-bar-danger" role="progressbar" style="width:20%">
                  WMS (20%)
                </div>
              </div>
          </div>
          </div>        
  </div>
  <!-- <div class="container">
    <div class=" row">
    </div>
    <div class=" row">
      <div class="col col-lg-2">
      </div>
    </div>
  </div>

  <div class="container">
    <h4></h4>
    
  </div>
</div> -->