

<h2> HomeS </h2>
<!--
<h2>{{ 3 + 3}}</h2>
<h2>{{ 3 - 3}}</h2>
<h2>{{ 3 * 3}}</h2>
<h2>{{ 3 / 3}}</h2>
-->
    
    <!--   <div class="container">
        <TextField n1="number1" [(ngModel)]="number1" KeyboardType="Number"></TextField>
        <TextField n2="number2" [(ngModel)]="number2" KeyboardType="Number"></TextField>
    </div>
    <button type="button" (click)="add()"></button>
      -->
 

<!--
    
    <div class="col-md-12">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">Panel with panel-primary class</div>
            <div class="panel-body">Panel Content</div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">Panel with panel-primary class</div>
            <div class="panel-body">Panel Content</div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">Panel with panel-primary class</div>
            <div class="panel-body">Panel Content</div>
        </div>
    </div>
</div>

-->